<section class="about-section">
  <div class="about-container">
    <div class="about-image">
      <img src="/img/Tanya Mandyam 2025.jpg" alt="Tanya on the beach">
    </div>
    <div class="about-text">
      <h2>About the<br>Creator</h2>
      <p>
        Tanya Mandyam is currently a senior at Westview High School. She has been interning at Dr. Sierra Simpson's lab at UCSD for the past three years, where she completed an independent research project on the anti-inflammatory effects of curcumin.
        She first started studying curcumin because it was used in her household and she wanted to find out what specific beneficial effects it had. Aside from research, she enjoys doing origami, listening to music, and watching movies in her free time.
      </p>
      <p>
        Questions? Email tmandyam2008@gmail.com! Thanks for reading my website :-)
      </p>
    </div>
  </div>
</section>
