<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Curcumin's Anti-Inflammatory Effects</h1>
                <h2 class="section-heading">Model of Inflammation: Severe Circadian Rhythm Disturbance</h2>
                <hr class="light">
                <p class="text-faded">ELISA procedures were performed to determine which cytokines/chemokines curcumin reduced/increased in my inflammation model.</p>
            </div>
        </div>
    </div>
</section>
