<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The Curcumin Cure</h1>
            <hr>
            <p>After several years of laboratory research on the anti-inflammatory effects of curcumin, numerous health benefits were revealed. The Curcumin Cure showcases how curcumin aids with gut microbiome health improvement, circadian rhythm adjustment, reduction of anti-inflammatory markers, and more!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn more!</a>
        </div>
    </div>
</header>
