<section id="services" class="gut-section">
  <div class="gut-header">
    <h1>Curcumin &amp; Gut Eubiosis</h1>
  </div>

  <div class="gut-content">
    <div class="gut-left">
      <img src="/img/def.png" alt="gut microbiome definition" class="gut-definition">
    </div>

    <div class="gut-right">
      <img src="/img/gbiome.png" alt="gut diagram" class="gut-diagram">
      <img src="/img/bacteria.png" alt="bacteria 1" class="gut-bacteria">
    </div>
  </div>

  <div class="gut-text-section">
    <p><strong style="color: #a5e6e6;">DYSBIOSIS</strong>: an imbalance/change in bacterial composition in the gut<br>
    <span style="margin-left: 1rem;">Effects:</span> can range from digestive problems to chronic diseases as it impacts digestive, immune, and neurological systems</p>
    <p class="highlight-text">increase in phyla such as proteobacteria, spirochaetes, and deferribacteres</p>
    <img src="/img/arrow.png" alt="arrow down" class="arrow red-arrow">

    <p><strong style="color: #ffffff;">EUBIOSIS</strong>: a state of healthy microbial balance in the gut<br>
    <span style="margin-left: 1rem;">Effects:</span> supports metabolic functions, protects against pathogens, provides essential nutrients</p>
    <p class="highlight-text">curcumin decreases proteobacteria, spirochaetes, and deferribacteres</p>
    <p class="highlight-text">curcumin also increases firmicutes (associated with general gut health), and actinobacteria (antibiotic and anticancer qualities)</p>
    <img src="/img/arrow.png" alt="arrow down" class="arrow green-arrow">
  </div>
  <div class="arrow-block">
    <p class="highlight-text">increase in phyla such as proteobacteria, spirochaetes, and deferribacteres</p>
    <img src="/assets/images/red-arrow.png" alt="arrow down" class="arrow red-arrow">
  </div>

  <div class="arrow-block">
    <p class="highlight-text">curcumin decreases proteobacteria, spirochaetes, and deferribacteres</p>
    <p class="highlight-text">curcumin also increases firmicutes (associated with general gut health), and actinobacteria (antibiotic and anticancer qualities)</p>
    <img src="/assets/images/green-arrow.png" alt="arrow down" class="arrow green-arrow">
  </div>

</section>
